# place this file in /etc/systemd/system/auto-shutdown.service
# adjust python location, shutdown script path, user and group
# sudo systemctl daemon-reload && sudo systemctl enable auto-shutdown && sudo systemctl start auto-shutdown

[Unit]
Description=Auto-Shutdown

[Service]
Type=simple
PIDFile=/run/auto-shutdown.pid
ExecStart=/usr/local/bin/python3 /home/$user/azure-auto-shutdown.py
User=$user
Group=$user
WorkingDirectory=/
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
